*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}
h3,h2{
    color: rgba( #000000,  .7);
}
p{
    color: rgba( #000000,  .6); 
}
