.encabezado {
  width: inherit;
  background-color: var(--color-encabezado, purple);
  position: sticky;
  top: 0;
  .logo {
    width: inherit;
    padding: 0.5em 1em;
    @include display-fle(row, space-between, center);
    .nombre.logo {
      width: 70%;
    }
    .icono,
    .menu {
      width: 15%;
    }
    a {
      color: white;
      font-style: italic;
      img {
        max-width: 100%;
      }
    }
    .menu {
      @include display-fle(row, flex-end, center);
      padding: 0;
    }
  }
  .lista {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    transform: translateX(-100vw);
    transition-property: transform;
    transition-duration: 2s;

    a {
      display: block;
      color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
      background-color: white;
      padding: 0.5em 1em;
      border-bottom: 2px solid var(--color-encabezado);
    }
    .foco {
      color: var(--color-encabezado);
    }
  }
  .activado {
    transform: translateX(0);
  }
  @media screen and(min-width:64em) {
    @include display-fle(row, space-between, center);
    .logo {
      @include display-fle(row, flex-start, center);
      .menu {
        display: none;
      }
      .nombre-logo {
        margin-left: 1.5rem;
      }
    }

    .lista {
      position: relative;
      transform: none;

      .listado {
        @include display-fle(row, flex-end, center);
        padding: 0 1.5rem;
        & > li + li {
          margin-left: 1.5rem;
        }
        a {
          border-radius: 33px;
        }
      }
    }
  }
}
