
.encabezado{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em .5em;
    background-color: #495cba;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;

    .logo{
        flex: 35%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        font-weight: bold;

        .nombre-logo{
            text-transform: inherit;
            font-weight: inherit;
            color: white;
            font-size: 1.2rem;
            padding: 0 0 0 .2em;
        }
        
    }
    .lista{
        flex: 65%;
        .contenedor-item{
            display: flex;
            justify-content: flex-end;
            align-items: center; 
            list-style: none;

           
            & > li {
                position: relative;
                color: rgba( #000000,  .8);
                margin-left: 1em;
                a{
                    display: block;
                    padding: .5em 1.5em;
                    background-color: white;
                    border: 1px solid transparent;
                    border-radius: 33px;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-weight: bold;
                    color: inherit;
                    text-align: left;

                    &:hover{
                        color:  #495cba;
                    }
                }
                .foco{
                    color:#495cba;
                }
                &:nth-child(0n+2){
                    a{
                        padding: .5em 2em;
                    }
                    a::after{
                        content: "";
                        position: absolute;
                        line-height: 0.5;
                        top: .85em;
                        right:.5em;
                        text-indent: 0;
                        border: 0.3em solid;
                        border-color: black transparent transparent;
                        margin: 0 auto;
                        font-size: 1.5rem;
                    }
                }
            }
            .subMenu{
                position: absolute;
                top: 4em;
                right: 50vh;
                z-index: 2;
                
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    list-style: none;

                    & > li + li{
                        margin-top: .5em;
                    }
                    li {

                        a{
                            display: block;
                            padding: .5em 1.5em;
                            background-color: white;
                            border: 2px solid transparent;
                            border-radius: 33px;
                            border-color: #495cba;
                            text-decoration: none;
                            text-transform: capitalize;
                            font-weight: bold;
                            color: inherit;
                            text-align: left;

                            &:hover{
                                color:#495cba;
                            }

                        }
                    }
                }
            }
            .subMenuApagado{
                display:none;
            }
        }
    }
}