.contacto {
  margin-top: 1.5rem;
  @include displey-grid(200px);
  & > div + div {
    margin-top: 1.5rem;
  }
  div,
  figure {
    @include display-fle(column, center, center);
  }
  div {
    ul {
      align-self: flex-start;
      a {
        display: block;
        padding: 0.5em 1em;
        &:hover {
          color: var(--color-encabezado);
        }
      }

      .foco {
        color: var(--color-encabezado);
      }
    }
  }
  img {
    box-shadow: none;
  }
  @media screen and (min-width: 40em) {
    @include displey-grid(33%);
    grid-gap: 0;
  }
}
.footer {
  margin-top: 1.5rem;
  @include display-fle(row, center, center);
  background-color: #353b48;
  p {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
  }
}
