.producto {
  width: 100%;
  h1 {
    padding: 1em 2em;
    font-size: 2rem;
  }
  .seccion {
    box-shadow: 0 0 0 0.5em var(--color-encabezado, purple);
    ul,
    li {
      @include display-fle(row, flex-start, center);
      margin-left: 1.5rem;
    }
  }
  .categoria {
    @include displey-grid(200px);
    padding: 3em 5em;
    a {
      margin-top: 3rem;

      figure {
        @include display-fle(column, flex-start, flex-start);
        img {
          max-width: 100%;
          border-radius: 0;
          position: relative;
          z-index: -1;
          &::after {
            content: "";
            position: relative;
            top: 0;
            left: 0;
            width: 100px;
            height: 100px;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
          }
        }

        figcaption {
          width: 100%;
          background-color: var(--color-encabezado, purple);
          color: white;
          padding: 0.5em 0;
        }
      }
    }
  }
  .categoria-descripcion {
    @include displey-grid(200px);
    padding: 3em 5em;
    figure {
      @include display-fle(column, flex-start, center);
      & > * + * {
        margin-top: 1.5rem;
      }
    }
  }
  @media screen and(min-width:64em) {
    .categoria-descripcion,
    .categoria {
      padding: 3em 10em;
      @include displey-grid(25%);
      a {
        margin-top: 0;
      }
    }
  }
}
