.quienes-somos {
  width: 100%;

  .historia {
    & > div + div {
      margin-top: 1.5rem;
    }
    p {
      text-align: center;
    }
    img {
      box-shadow: none;
    }
    .relato {
      .parrafos {
        @include displey-grid(200px);
        @media screen and (min-width: 40em) {
          @include displey-grid(400px);
        }
      }
    }
    .publicidad {
      @include display-fle(column, flex-start, center);
      p {
        text-align: center;
      }
    }
  }
}
