@import url("https://fonts.googleapis.com/css2?family=Laila:wght@300&display=swap");
:root {
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
  font-size: calc(1vw + 0.6em);
  border: none;
  outline: none;
  --color-encabezado: #546de5;
  --color-menu-desplegable: #546ce5c2; }
  @media (min-width: 64em) {
    :root {
      font-size: calc(1vmin + 0.4em); } }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  border: inherit;
  outline: inherit; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer; }

svg {
  color: white;
  font-size: 1.5rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold; }

img {
  max-width: 100%;
  object-fit: cover; }

p {
  line-height: 2rem;
  padding: 0.5em 1em; }

button {
  padding: 0.8rem 1.75rem;
  border-radius: 2rem;
  background-color: var(--color-encabezado, purple);
  color: white;
  font-size: 1.15rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid gray; }

figure {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

@media (min-width: 64em) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.5rem; }
  p {
    font-size: 1.25rem; } }

.contenedor {
  width: 100%;
  height: auto; }
  .contenedor .encabezado {
    width: inherit;
    background-color: var(--color-encabezado, purple);
    position: sticky;
    top: 0; }
    .contenedor .encabezado .logo {
      width: inherit;
      padding: 0.5em 1em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .contenedor .encabezado .logo .nombre.logo {
        width: 70%; }
      .contenedor .encabezado .logo .icono,
      .contenedor .encabezado .logo .menu {
        width: 15%; }
      .contenedor .encabezado .logo a {
        color: white;
        font-style: italic; }
        .contenedor .encabezado .logo a img {
          max-width: 100%; }
      .contenedor .encabezado .logo .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0; }
    .contenedor .encabezado .lista {
      width: 100%;
      height: auto;
      position: absolute;
      z-index: 2;
      background-color: transparent;
      transform: translateX(-100vw);
      transition-property: transform;
      transition-duration: 2s; }
      .contenedor .encabezado .lista a {
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-weight: bold;
        background-color: white;
        padding: 0.5em 1em;
        border-bottom: 2px solid var(--color-encabezado); }
      .contenedor .encabezado .lista .foco {
        color: var(--color-encabezado); }
    .contenedor .encabezado .activado {
      transform: translateX(0); }
    @media screen and (min-width: 64em) {
      .contenedor .encabezado {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        .contenedor .encabezado .logo {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          .contenedor .encabezado .logo .menu {
            display: none; }
          .contenedor .encabezado .logo .nombre-logo {
            margin-left: 1.5rem; }
        .contenedor .encabezado .lista {
          position: relative;
          transform: none; }
          .contenedor .encabezado .lista .listado {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0 1.5rem; }
            .contenedor .encabezado .lista .listado > li + li {
              margin-left: 1.5rem; }
            .contenedor .encabezado .lista .listado a {
              border-radius: 33px; } }
  .contenedor .inicio {
    width: 100%;
    height: auto; }
    .contenedor .inicio .imagen-fondo {
      width: 100%; }
    .contenedor .inicio .encontraras {
      width: 100%;
      padding: 5rem 1em; }
      .contenedor .inicio .encontraras > div + div {
        margin-top: 5rem; }
      .contenedor .inicio .encontraras .puntos span svg {
        color: var(--color-encabezado); }
      .contenedor .inicio .encontraras div {
        height: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .contenedor .inicio .encontraras div > * + * {
          margin-top: 1rem; }
        .contenedor .inicio .encontraras div svg {
          font-size: 3rem; }
    .contenedor .inicio .productos-destacados {
      width: 100%;
      height: auto; }
      .contenedor .inicio .productos-destacados .img-productos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 1em;
        align-items: center; }
        .contenedor .inicio .productos-destacados .img-productos img {
          cursor: pointer; }
      .contenedor .inicio .productos-destacados .mas-productos {
        padding: 0.5em 1em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .contenedor .inicio .productos-destacados .mas-productos input[type="button"] {
          padding: 0.5em 1.5em;
          border-radius: 2rem;
          background-color: var(--color-encabezado, purple);
          color: white; }
      @media screen and (min-width: 64em) {
        .contenedor .inicio .productos-destacados .img-productos {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
          grid-template-rows: 1fr;
          grid-gap: 1em;
          align-items: center; } }
    .contenedor .inicio .ofrece {
      padding: 0.5em 1em; }
      .contenedor .inicio .ofrece .descripcion {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 1em;
        align-items: center;
        grid-gap: 0; }
        .contenedor .inicio .ofrece .descripcion div {
          padding: 0.5em 0;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center; }
          .contenedor .inicio .ofrece .descripcion div h2 {
            font-size: 2.5rem; }
          .contenedor .inicio .ofrece .descripcion div h3 {
            font-size: 1.5rem; }
          .contenedor .inicio .ofrece .descripcion div > * + * {
            margin-top: 2rem; }
      @media screen and (min-width: 64em) {
        .contenedor .inicio .ofrece .descripcion {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
          grid-template-rows: 1fr;
          grid-gap: 1em;
          align-items: center;
          grid-gap: 0; } }
    .contenedor .inicio .testimonio .imagenes {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: 1fr;
      grid-gap: 1em;
      align-items: center; }
      .contenedor .inicio .testimonio .imagenes .persona {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        .contenedor .inicio .testimonio .imagenes .persona > * + * {
          margin-top: 1rem; }
        .contenedor .inicio .testimonio .imagenes .persona img {
          max-width: 80%;
          border-radius: 50%; }
    @media screen and (min-width: 64em) {
      .contenedor .inicio .testimonio .imagenes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 1em;
        align-items: center;
        grid-gap: 0; } }
  .contenedor .titulo {
    padding: 0.5em 1em;
    text-align: center; }
    .contenedor .titulo h3 {
      font-size: 1.5rem; }
  .contenedor .quienes-somos {
    width: 100%; }
    .contenedor .quienes-somos .historia > div + div {
      margin-top: 1.5rem; }
    .contenedor .quienes-somos .historia p {
      text-align: center; }
    .contenedor .quienes-somos .historia .relato .parrafos {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: 1fr;
      grid-gap: 1em;
      align-items: center; }
      @media screen and (min-width: 40em) {
        .contenedor .quienes-somos .historia .relato .parrafos {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
          grid-template-rows: 1fr;
          grid-gap: 1em;
          align-items: center; } }
    .contenedor .quienes-somos .historia .publicidad {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .contenedor .quienes-somos .historia .publicidad p {
        text-align: center; }
  .contenedor .contactanos {
    width: 100%; }
    .contenedor .contactanos > div + div {
      margin-top: 5rem; }
    .contenedor .contactanos .ubicacion {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: 1fr;
      grid-gap: 1em;
      align-items: center; }
      .contenedor .contactanos .ubicacion > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
    .contenedor .contactanos .encuentranos {
      width: 100%; }
      .contenedor .contactanos .encuentranos .formulario {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; }
        .contenedor .contactanos .encuentranos .formulario form {
          width: inherit; }
          .contenedor .contactanos .encuentranos .formulario form p {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            .contenedor .contactanos .encuentranos .formulario form p textarea {
              height: 15vmax; }
        .contenedor .contactanos .encuentranos .formulario figure {
          display: none; }
          @media screen and (min-width: 40em) {
            .contenedor .contactanos .encuentranos .formulario figure {
              display: block; } }
    @media screen and (min-width: 64em) {
      .contenedor .contactanos .ubicacion {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 1em;
        align-items: center;
        grid-gap: 0; } }
  .contenedor .contacto {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1em;
    align-items: center; }
    .contenedor .contacto > div + div {
      margin-top: 1.5rem; }
    .contenedor .contacto div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .contenedor .contacto div ul {
        align-self: flex-start; }
        .contenedor .contacto div ul a {
          display: block;
          padding: 0.5em 1em; }
        .contenedor .contacto div ul .foco {
          color: var(--color-encabezado); }
    @media screen and (min-width: 40em) {
      .contenedor .contacto {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
        grid-template-rows: 1fr;
        grid-gap: 1em;
        align-items: center;
        grid-gap: 0; } }
  .contenedor .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #353b48; }
    .contenedor .footer p {
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      font-weight: bold; }
